<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>--><!--
    <add name="esankal1_esankalpEntities" connectionString="metadata=res://*/eSankalpAdminEntity.csdl|res://*/eSankalpAdminEntity.ssdl|res://*/eSankalpAdminEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-VSGQTNVV\SQLEXPRESS;initial catalog=esankal1_esankalp;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

	<connectionStrings>
		<add name="esankal1_esankalpEntities" connectionString="metadata=res://*/GymMasterDataLayerEntity.csdl|res://*/GymMasterDataLayerEntity.ssdl|res://*/GymMasterDataLayerEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.143.46.143;initial catalog=esankal1_esankalp;persist security info=True;user id=esankal1_Dharvik;password=eSankalp@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>